/* app/assets/stylesheets/custom.css */

/* Définissez les styles pour les cartes avec les couleurs de l'arc-en-ciel */
.card {
  border: none;
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #6c757d;
}

/* Styles pour les couleurs de l'arc-en-ciel */
.card.red {
  background-color: #943333; /* Rouge */
  color: white;
}

.card.orange {
  background-color: #9c6227; /* Orange */
  color: white;
}

.card.yellow {
  background-color: #b3b32e; /* Jaune */
  color: black; /* Changer la couleur du texte pour le jaune */
}

.card.green {
  background-color: #36a736; /* Vert */
  color: white;
}

.card.blue {
  background-color: #2626a7; /* Bleu */
  color: white;
}

.card.indigo {
  background-color: #532b70; /* Indigo */
  color: white;
}

.card.violet {
  background-color: #8e55c4; /* Violet */
  color: white;
}
