<!-- app/views/attendances/index.html.erb -->
<h1>Liste des invités à <%= @event_title %></h1>
<table>
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Date d'inscription</th> <!-- Add this line for the registration date -->
      <!-- Autres colonnes si nécessaire -->
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.user.email %></td>
        <td><%= attendance.created_at.strftime("%d/%m/%Y %H:%M") %></td> <!-- Adjust the date format as needed -->
        <!-- Autres colonnes si nécessaire -->
      </tr>
    <% end %>
  </tbody>
</table>
